<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Seacloud</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="File Online Storage Share" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seacloud.css" />
<link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico?t=1362454620" />
</head>

<body>
<div id="wrapper">
    <div id="header">
        <div class="header-inner">
            <div class="top-bar">
                <a href="https://seacloud.cc/accounts/register/">Signup</a>
                <a href="https://seacloud.cc/accounts/login">Login</a>
                <a href="https://cloud.seafile.com/demo/" class="demo-account fleft" target="_blank">Try It Now</a>
            </div>
        </div>
        <div>
            <img id="slogan" src="{{ MEDIA_URL }}img/demo/group.png" width="600"/>
            <div id="seacloud-intro">
                <p id="seacloud-slogan">Seacloud.cc: A Collaboration Place for Document-Centered Projects</p>
                <p id="seacloud-feature">Group Spaces with File Syncing, Discussion, Wiki and Tasks</p>
                <p id="seacloud-base">Based on the open source syncing-tool Seafile</p> 
            </div>
        </div>
    </div>

    <div id="main">
        <div class="home">
            <a href="https://seacloud.cc/accounts/register/" class="register">Signup<br /><span>Unlimit Number of Groups</span></a>
            <p class="use">Usage: Signup and use, you can also download <a href="{{ SITE_ROOT }}download/">Seafile Client</a> and sync files with local folders. See our <a href="{{ SITE_ROOT }}en/help/">help for Seafile client</a>.</p>
        </div>

        <div id="pricing" class="clear block">
            <h2>Pricing Plan</h2>
            <table>
                <tr>
                    <th></th>
  	                <th>Free</th>
                    <th>Plan 1</th>
                    <th>Plan 2</th>
                </tr>
                <tr>
  	                <td>Storage</td>
                    <td>1GB</td>
                    <td>10GB</td>
                    <td>100GB</td>
                </tr>
                <tr>
  	                <td>Group</td>
                    <td>Up to 6 members</td>
                    <td>No limit</td>
                    <td>No limit</td>
                </tr>
                <tr>
  	                <td>Public Group</td>
                    <td>no</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
  	                <td>Pricing</td>
                    <td>--</td>
                    <td>$2/month</td>
                    <td>$10/month</td>
                </tr>
            </table>
        </div>

    </div>


    <div id="footer" class="ovhd">
        <p class="fleft">Copyright ©2013 Seafile Ltd.</p>
    </div>

</div><!-- wrapper -->

</body>
</html>
